{% load static %}
<html lang="zxx">

<head>
	<title>Al Shihab Al thahabi</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="static/image/logo1.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="static/css/vendor.bundle.css">
	<link id="style-css" rel="stylesheet" type="text/css" href="static/css/style62ea.css?ver=1.2">
	<style type="text/css">
		/* Only Demo Purpose */
		.colorPanel {margin: 0px;padding: 5px;position: fixed;z-index: 100;min-width: 20px; border-radius: 4px 0 0 4px; background-color: #4b00a0;right:0;top: 33%;display: none;} .colorPanel ul {margin:0px;padding:0px;list-style: none;display:none;} .colorPanel ul li {display: block;margin-top: 10px;} .colorPanel ul a {display: block;width: 20px;height: 20px;border: #fff 1px solid;} .colorPanel a.cart {border-bottom: 1px solid rgba(255,255,255,.3); margin-bottom: 6px; padding-bottom: 8px;display: block;} #cpToggle{display:block;height:30px; width:20px; line-height:30px; background-size:cover;}.cp-custom{padding: 12px;display: none;}.cp-custom #cpToggle{background: none;}.cp-custom i{font-size: 15px;color:#fff;}
	</style>
    {% comment %} <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','../../www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-91615293-2', 'auto');
	ga('send', 'pageview');
	</script> {% endcomment %}
</head>
<body class="site-body style-v1">
	<!-- Header --> 
	<header class="site-header header-s1 is-sticky">
		<!-- Topbar -->
		<div class="topbar" style="background-color: #c1a225;">
			<div class="container">
				<div class="row">
					<div class="top-aside top-left">
						<h4 style="color: aliceblue;margin-top: 7%;">Welcome to Al Shihab Al Thahabi</h4>
						<!-- <ul class="top-nav">
							<li><a href="resources.html">Knowledge Centre</a></li>
							<li><a href="careers.html">Career</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul> -->
					</div>
					<div class="top-aside top-right clearfix">
						<ul class="top-contact clearfix">
							<li class="t-email t-email1">
								<em class="fa fa-envelope-o" aria-hidden="true" style="color: aliceblue;"></em>
								<span style="color: aliceblue;"><a href="#">sales@thahabi.ae</a></span>
							</li>
							<li class="t-phone t-phone1">
								<em class="fa fa-phone" aria-hidden="true" style="color: aliceblue;"></em>
								<span style="color: aliceblue;">+971 6 5568301</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- #end Topbar -->
		<!-- Navbar -->
		<div class="navbar navbar-primary">
			<div class="container">
				<!-- Logo -->
				<a class="navbar-brand" href="index1">
					<img class="logo logo-dark" alt="" src="static/image/LOGO-01-01.png" >
					<img class="logo logo-light" alt="" src="static/image/LOGO-01-01.png" >
				</a>
				<!-- #end Logo -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
						<span class="sr-only">Menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
				</div>
				<!-- MainNav -->
				<nav class="navbar-collapse collapse" id="mainnav">
					<ul class="nav navbar-nav" >
						<li class="dropdown megamenu megamenu-short"><a href="index1">Home</a>
							
						</li>
						<li class="dropdown">
							<a href="about">About Us</a>
							
								</li>
								<li class="dropdown "><a href="services">Our Products</a>
									<ul class="dropdown-menu">
										<li class="dropdown"><a href="foodingredients">FOOD INGREDIENTS</a>
										<ul class="dropdown-menu">
											<li><a href="bakery">BAKERY & FLOUR MILLS </a></li>
											<li><a href="meat">MEAT, POULTRY,<br> SEAFOOD & FEED</a></li>
											<li><a href="beverages">BEVERAGES & DAIRY</a></li>
											<li><a href="pre_mixes">PRE-MIXES, DRY-MIXES,<br> SAUCES & CULINARY </a></li>
											<li><a href="confictionery">CONFECTIONERY & SNACKS </a></li>
										</ul>
									</li>
										<li class="dropdown"><a href="chemicals">SPECIALTY CHEMICALS &<br> INDUSTRIAL RAW MATERIALS</a>
											<ul class="dropdown-menu">
											<li><a href="paint">PAINT, COATING, <br>INK & ADHESIVES</a></li>
											<li><a href="construction">CONSTRUCTION CHEMICALS</a></li>
											<li><a href="fabric_care">PERSONAL / HOME &<br> FABRIC CARE</a></li>
											<li><a href="cleaning">INDUSTRIAL AND INSTITUTIONAL<br> CLEANING APPLICATIONS</a></li>
											<li><a href="water">WATER TREATMENT CHEMICALS </a></li>
											<li><a href="polymer">POLYMER CHEMICALS & <br>REFINING CATALYSTS</a></li>

										</ul>
										</li>
										<li class="dropdown"><a href="machinery_equipment">MACHINERY AND LAB<br> EQUIPMENTS</a>
										<ul class="dropdown-menu">
											<li><a href="paint_coating">MACHINERY & LAB EQUIPMENT<br> FOR THE PAINT & COATINGS</a></li>
										</ul>
										</li>
										
									</ul>
								</li>
								<li class="dropdown"><a href="events">Events</a></li>
								<li><a href="blog">Blog</a></li>
									
								<li class="dropdown"><a href="contact">Contact Us</a>
									
								</li>
								
							</ul>
						</li>
						
					</ul>
				</nav> 
				<!-- #end MainNav -->
			</div>
		</div>
		<!-- #end Navbar -->
		
		<!-- Banner -->
		<div class="banner banner-static">
			<div class="container">
				<div class="content row">
					
					<div class="imagebg">
						<img src="static/image/banner-contact.jpg" alt="">
					</div>
					{% comment %} <div class="banner-text">
						<h1 class="page-title">CONTACT US</h1>
						<p class="page-breadcrumb">Home / <span class="current">CONTACT US</span> </p>
					</div> {% endcomment %}
				</div>
			</div>
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->

	<!-- Content -->
	<div class="section section-contents section-contact section-pad">
		<div class="container">
			<div class="content row">
				
				<h1>Contact Us</h1>
				<div class="contact-content row">
					{% comment %} {% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}> <div class="alert alert-success">
											<a class="close" href="#" data-dismiss="alert">×</a>

											{{ message }}

										</div></li>
						{% endfor %}
					</ul>
					{% endif %} {% endcomment %}
					<div class="drop-message col-md-7 res-m-bttm">
							
					
						<p>Want to work with us or need more details about consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor.</p>
						
						<form id="contact-us" class="form-message" action="contact" method="post">
						{% csrf_token %}
							<div class="form-results"></div>
							<div class="form-group row">
								<div class="form-field col-md-6 form-m-bttm">
									<input name="contact_name" type="text" placeholder="Name *" class="form-control required">
								</div>
								<div class="form-field col-md-6">
									<input name="contact_email" type="email" placeholder="Email *" class="form-control required email">
								</div>
							</div>
							
							<div class="form-group row">
								<div class="form-field col-md-12">
									<textarea name="contact_message" placeholder="Messages *" class="txtarea form-control required"></textarea>
								</div>
							</div>
							{% comment %} {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            	{% endfor %} {% endcomment %}
		
							<button type="submit" class="btn solid-btn sb-h" onclick="return confirm('we received your email and will respond shortly');">Submit</button>
						</form>
					</div>
				
					<div class="contact-details col-md-4 col-md-offset-1">
						<ul class="contact-list">
							<li><em class="fa fa-map" aria-hidden="true"></em>
								<span>Office 901, Al Durrah Center ,<br>Buhairah Corniche <br>Sharjah 30681 </span>
							</li>
							<li><em class="fa fa-phone" aria-hidden="true"></em>
								<span>Phone: +971 6 5568301<br>
									Fax: +971 6 5568302
								</span>
							</li>
							<li><em class="fa fa-envelope" aria-hidden="true"></em>
								<span>Email : <a href="#">sales@thahabi.ae</a></span>
							</li>
							<li>
								<em class="fa fa-clock-o" aria-hidden="true"></em><span>Sun - Thu: 9AM - 6PM </span>
							</li>
							<li><em class="fa fa-whatsapp" aria-hidden="true"></em>
								<span>Phone: +971 50 787 5394<br>
									8AM - 8PM
								</span>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- End Content -->
	
	<!-- Map -->
	<div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14425.696533275788!2d55.382798!3d25.323545!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x88498d5e6f36038f!2sAL%20SHIHAB%20AL%20THAHABI%20TRADING%20CO.LCC!5e0!3m2!1sen!2sin!4v1616399989568!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>	</div>
	<!-- End map -->

	<!-- Footer Widget-->
	<div class="footer-widget section-pad" style="padding-bottom: 3%;">
		<div class="container">
			<div class="row">

				<div class="widget-row row">
					<div class="footer-col col-md-4 col-sm-6 res-m-bttm">
						<!-- Each Widget -->
						<div class="wgs wgs-footer wgs-menu">
							<img src="static/image/logo1.png" style="max-width: 45%;margin-top: -7%;"><br>
							{% comment %} <p style="text-align: justify;">Al Shihab Al Thahabi is a U.A.E. based company with a long pedigree of trading in the Arabian Peninsula. Our operations cover the countries of the Gulf Cooperation Council, Sudan, Ethiopia & Eritrea.</p> {% endcomment %}
							
							<!-- <h5 class="wgs-title">Solutions</h5>
							<div class="wgs-content">
								<ul class="menu col-md-6 npl">
									<li><a href="#">Mechanical Engineering</a></li>
									<li><a href="#">Civil Engineering</a></li>
									<li><a href="#">Chemical Research</a></li>
									<li><a href="#">Material Science</a></li>
									<li><a href="#">Power and Energy</a></li>
									<li><a href="#">Oil and Gas</a></li>
								</ul>
								<ul class="menu col-md-6">
									<li><a href="#">Maintainance Services</a></li>
									<li><a href="#">Product Development</a></li>
									<li><a href="#">Machinery &amp; Utilities</a></li>
									<li><a href="#">Research &amp; Development</a></li>
								</ul>
							</div> -->
						</div>
						<!-- End Widget -->
					</div>
					<div class="footer-col col-md-3 col-sm-6 res-m-bttm" >
						<!-- Each Widget -->
						<div class="wgs wgs-footer wgs-menu" >
							<h5 class="wgs-title">Quick Links</h5>
							<div class="wgs-content">
								<ul class="menu">
									<li><a href="index">Home</a></li>
									<li><a href="about">About Us</a></li>
									<li><a href="services">Our Products</a></li>
									<li><a href="events">Events</a></li>
									<!-- <li><a href="responsibility">Responsibility</a></li> -->
									<li><a href="contact">Contact Us</a></li>
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>
<!-- 					<div class="footer-col col-md-2 col-sm-6 res-m-bttm">
 -->						<!-- Each Widget -->
						<!-- <div class="wgs wgs-footer wgs-text">
							<h5 class="wgs-title">Areas Serve</h5>
							<div class="wgs-content">
								<ul>
									<li>USA</li>
									<li>UK</li>
									<li>Kuwit</li>
									<li>Japan</li>
									<li>South Africa</li>
									<li>Canada</li>
								</ul>
							</div>
						</div> -->
						<!-- End Widget -->
<!-- 					</div>
 -->					<div class="footer-col col-md-3 col-sm-6">
						<!-- Each Widget -->
						<div class="wgs wgs-footer">
							<h5 class="wgs-title">Contact us</h5>
							<div class="wgs-content">
								<p><strong>Office 901, Al Durrah Center</strong><br>
									Buhairah Corniche <br>
									Sharjah 30681</p>
								<p><span>Phone</span>: +971 6 5568301<br>
									<span>Fax</span>: +971 6 5568302
									</p>
								<ul class="social">
									<li><a href="https://www.youtube.com/channel/UCok-JmU7tv6DTzrl8F4B4FQ"><em class="fa fa-youtube-play" aria-hidden="true"></em></a></li>
									<li><a href="https://www.linkedin.com/company/shihab/?trk=similar-companies_org_title"><em class="fa fa-linkedin" aria-hidden="true"></em></a></li>
									<li><a href="https://www.instagram.com/alshihab.althahabi/"><em class="fa fa-instagram" aria-hidden="true"></em></a></li>
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>

				</div>

			</div>
		</div>
	</div>
	<!-- End Footer Widget -->

	<!-- Copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="site-copy col-sm-7">
					<p class="mb-0" data-aos="fade-right" data-aos-offset="0">&copy; 2021 All Rights Reserved. Design by <a href="https://freehtml5.co/multipurpose" target="_blank" class="fh5-link">Colordrop</a>.</p>
					<!-- <p>&copy; 2017 Industrial Company <span class="sep"> . </span> Licensed NI099999<span class="sep"> . </span> <a href="#">Terms and Condition</a></p>
				</div>
				<div class="site-by col-sm-5 al-right">
					<p>Template Made by <a href="http://softnio.com/" target="_blank">Softnio.</a></p>
				</div> -->
 				
			</div>
		</div>
	</div>
	<!-- End Copyright -->
	<!-- Google Recaptcha -->
	
	<!-- Google Map Script -->
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDNaa8LOQISEST6NIGC78vmdnIOynR2SeU"></script> 
	<script src="static/js/gmaps.js"></script>

	<!-- JavaScript Bundle -->
	<script src="static/js/jquery.bundle.js"></script>
	<!-- Theme Script init() -->
	<script src="static/js/script.js"></script>
	<!-- End script -->
</body>

</html>